@font-face {
  font-family: pinar;
  src: url("http://127.0.0.1:6600/static/font.ttf");
}

body {
    direction:rtl;
    font-family: pinar;
    margin: 0;
    padding: 0;
  }
  
  .container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }