@font-face {
  font-family: pinar;
  src: url("http://127.0.0.1:6600/static/font.ttf");
}

body {
    direction:rtl;
    font-family: pinar;
    margin: 0;
    padding: 0;
  }
table {
    font-size: 12px;
    text-align: center;
}

thead {
    font-size: 14px;
    text-align: center;
} 
.pagination {
  font-size: 10px;
  text-align: center;
} 
.container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}