<!DOCTYPE html>
<html lang="fa">
<head>
  <meta charset="UTF-8">
  <title>صفحه اصلی</title>
  <link rel="stylesheet" href="http://127.0.0.1:6600/static/style.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
<link rel="stylesheet" href="http://127.0.0.1:6600/static/style.css">
</head>
<body>
    <div class="container-fluid p-4">
        <div class="col">
          <form action="/search">
            <div class="row rounded">
              <div class="col-3 bg-secondary p-2 rounded-end">
                <div class="form-group p-2">
                  <input type="text" class="form-control" placeholder="age" name="age">
                </div>
                <div class="form-group p-2">
                    <input type="text" class="form-control" placeholder="sex" name="sex">
                </div>
                <div class="form-group p-2">
                    <input type="text" class="form-control" placeholder="trtbps" name="trtbps">
                </div>
                <div class="form-group p-2">
                  <input type="text" class="form-control" placeholder="chol" name="chol">
                </div>
              </div>
              <div class="col-3 bg-secondary p-2">
                <div class="form-group p-2">
                  <input type="text" class="form-control" placeholder="chol" name="chol">
                </div>
                <div class="form-group p-2">
                    <input type="text" class="form-control" placeholder="fbs" name="fbs">
                </div>
                <div class="form-group p-2">
                    <input type="text" class="form-control" placeholder="restecg" name="restecg">
                </div>
                <div class="form-group p-2">
                  <input type="text" class="form-control" placeholder="thalachh" name="thalachh">
                </div>
              </div>
              <div class="col-3 bg-secondary p-2">
                <div class="form-group p-2">
                    <input type="text" class="form-control" placeholder="exng" name="exng">
                </div>
                <div class="form-group p-2">
                    <input type="text" class="form-control" placeholder="oldpeak" name="oldpeak">
                </div>
                <div class="form-group p-2">
                    <input type="text" class="form-control" placeholder="slp" name="slp">
                </div>
                <div class="form-group p-2">
                  <input type="text" class="form-control" placeholder="caa" name="caa">
                </div>
              </div>
              <div class="col-3 bg-secondary p-2 rounded-start">
                <div class="form-group p-2">
                    <input type="text" class="form-control" placeholder="thall" name="thall">
                </div>
                <div class="form-group p-2">
                    <input type="text" class="form-control" placeholder="output" name="output">
                </div>
                
            </div>
              <button type="submit" class="btn btn-primary mt-2 p-2">جستجو</button>
          </form>
        </div>
        
        <div class="row bg-secondary p-2 rounded mt-2 " style="font-size=10">
            <table class="table table-striped ">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">age</th>
                    <th scope="col">sex</th>
                    <th scope="col">cp</th>
                    <th scope="col">trtbps</th>
                    <th scope="col">chol</th>
                    <th scope="col">fbs</th>
                    <th scope="col">restecg</th>
                    <th scope="col">thalachh</th>
                    <th scope="col">exng</th>
                    <th scope="col">oldpeak</th>
                    <th scope="col">slp</th>
                    <th scope="col">caa</th>
                    <th scope="col">thall</th>
                    <th scope="col">output</th>
                  </tr>
                </thead>
                <tbody>
                {% for heart in list :%}
                  <tr>
                    <th scope="row">{{ heart['id'] }}</th>
                    <td>{{ heart['age'] }}</td>
                    <td>{{ heart['sex'] }}</td>
                    <td>{{ heart['cp'] }}</td>
                    <td>{{ heart['trtbps'] }}</td>
                    <td>{{ heart['chol'] }}</td>
                    <td>{{ heart['fbs'] }}</td>
                    <td>{{ heart['restecg'] }}</td>
                    <td>{{ heart['thalachh'] }}</td>
                    <td>{{ heart['exng'] }}</td>
                    <td>{{ heart['oldpeak'] }}</td>
                    <td>{{ heart['slp'] }}</td>
                    <td>{{ heart['caa'] }}</td>
                    <td>{{ heart['thall'] }}</td>
                    <td>{{ heart['output'] }}</td>
                  </tr>
                {% endfor %}
                </tbody>
            </table>

            <div class="row" >
                <nav aria-label="Page navigation" >
                    <ul class="pagination pagination-sm" style="flex-wrap: wrap;">
                      {% for i in range(1,pagination+1) : %}
                        {% if i == page : %}
                            <li class="page-item active" aria-current="page">
                            <span class="page-link">{{ i }}</span>
                          </li>
                        {% else : %} 
                            <li class="page-item p-1"><a class="page-link" href="/search/page/{{ i }}?{{ qs }}">{{ i }}</a></li>
                        {% endif %}
                      {% endfor %}
                    </ul>
                  </nav>
                
            </div>

        </div>
    </div>
</body>
</html>
