<!DOCTYPE html>
<html lang="fa">
<head>
  <meta charset="UTF-8">
  <title>صفحه اصلی</title>
  <link rel="stylesheet" href="http://127.0.0.1:6600/static/style.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
<link rel="stylesheet" href="http://127.0.0.1:6600/static/style.css">
</head>
<body>
    <div class="container-fluid p-4">
        <div class="col">
          <form action="#">
            <div class="row rounded">
              <div class="col-4 bg-secondary p-2 rounded-end">
                <div class="form-group p-2">
                  <input type="text" class="form-control" placeholder="شناسه نمایش" name="show_id">
                </div>
                <div class="form-group p-2">
                    <input type="text" class="form-control" placeholder="نوع" name="type">
                </div>
                <div class="form-group p-2">
                    <input type="text" class="form-control" placeholder="عنوان" name="title">
                </div>
                <div class="form-group p-2">
                  <input type="text" class="form-control" placeholder="کارگردان" name="director">
                </div>
              </div>
              <div class="col-4 bg-secondary p-2">
                <div class="form-group p-2">
                    <input type="text" class="form-control" placeholder="بازیگران" name="cast">
                </div>
                <div class="form-group p-2">
                    <input type="text" class="form-control" placeholder="کشور" name="country">
                </div>
                <div class="form-group p-2">
                    <input type="text" class="form-control" placeholder="تاریخ افزودن" name="date_added">
                </div>
                <div class="form-group p-2">
                  <input type="text" class="form-control" placeholder="سال انتشار" name="release_year">
                </div>
              </div>
              <div class="col-4 bg-secondary p-2 rounded-start">
                <div class="form-group p-2">
                    <input type="text" class="form-control" placeholder="رتبه بندی" name="rating">
                </div>
                <div class="form-group p-2">
                    <input type="text" class="form-control" placeholder="مدت زمان" name="duration">
                </div>
                <div class="form-group p-2">
                    <input type="text" class="form-control" placeholder="دسته بندی" name="listed_in">
                </div>
                <div class="form-group p-2">
                  <input type="text" class="form-control" placeholder="توضیحات" name="description">
              </div>
              </div>
              <button type="submit" class="btn btn-primary mt-2 p-2">جستجو</button>
          </form>
        </div>
        
        <div class="row bg-secondary p-2 rounded mt-2 " style="font-size=10">
            <table class="table table-striped ">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">شناسه نمایش</th>
                    <th scope="col">نوع</th>
                    <th scope="col">عنوان</th>
                    <th scope="col">کارگردان</th>
                    <th scope="col">بازیگران</th>
                    <th scope="col">کشور</th>
                    <th scope="col">تاریخ افزودن</th>
                    <th scope="col">سال انتشار</th>
                    <th scope="col">رتبه بندی</th>
                    <th scope="col">مدت زمان</th>
                    <th scope="col">دسته بندی</th>
                    <th scope="col">توضیحات</th>
                  </tr>
                </thead>
                <tbody>
                {% for show in list :%}
                  <tr>
                    <th scope="row">{{ show['id'] }}</th>
                    <td>{{ show['show_id'] }}</td>
                    <td>{{ show['type'] }}</td>
                    <td>{{ show['title'] }}</td>
                    <td>{{ show['director'] }}</td>
                    <td>{{ show['cast'] }}</td>
                    <td>{{ show['country'] }}</td>
                    <td>{{ show['date_added'] }}</td>
                    <td>{{ show['release_year'] }}</td>
                    <td>{{ show['rating'] }}</td>
                    <td>{{ show['duration'] }}</td>
                    <td>{{ show['listed_in'] }}</td>
                    <td>{{ show['description'] }}</td>
                  </tr>
                {% endfor %}
                </tbody>
            </table>

            <div class="row" >
                <nav aria-label="Page navigation" >
                    <ul class="pagination pagination-sm" style="flex-wrap: wrap;">
                      {% for i in range(1,pagination+1) : %}
                        {% if i == page : %}
                            <li class="page-item active" aria-current="page">
                            <span class="page-link">{{ i }}</span>
                          </li>
                        {% else : %} 
                            <li class="page-item p-1"><a class="page-link" href="/search/page/{{ i }}">{{ i }}</a></li>
                        {% endif %}
                      {% endfor %}
                    </ul>
                  </nav>
                
            </div>

        </div>
    </div>
</body>
</html>
