<!DOCTYPE html>
<html lang="fa">
<head>
  <meta charset="UTF-8">
  <title>صفحه اصلی</title>
  <link rel="stylesheet" href="http://127.0.0.1:6600/static/style.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
<link rel="stylesheet" href="http://127.0.0.1:6600/static/style.css">
</head>
<body>
    <div class="container p-4">
        <div class="col">
          <form action="#">
            <div class="row">
              <div class="col-4 bg-secondary p-2">
                <div class="form-group p-2">
                  <input type="text" class="form-control" placeholder="شناسه نمایش" name="show_id">
                </div>
                <div class="form-group p-2">
                    <input type="text" class="form-control" placeholder="نوع" name="type">
                </div>
                <div class="form-group p-2">
                    <input type="text" class="form-control" placeholder="عنوان" name="title">
                </div>
                <div class="form-group p-2">
                  <input type="text" class="form-control" placeholder="کارگردان" name="director">
                </div>
              </div>
              <div class="col-4 bg-secondary p-2">
                <div class="form-group p-2">
                    <input type="text" class="form-control" placeholder="بازیگران" name="cast">
                </div>
                <div class="form-group p-2">
                    <input type="text" class="form-control" placeholder="کشور" name="country">
                </div>
                <div class="form-group p-2">
                    <input type="text" class="form-control" placeholder="تاریخ افزودن" name="date_added">
                </div>
                <div class="form-group p-2">
                  <input type="text" class="form-control" placeholder="سال انتشار" name="release_year">
                </div>
              </div>
              <div class="col-4 bg-secondary p-2">
                <div class="form-group p-2">
                    <input type="text" class="form-control" placeholder="رتبه بندی" name="rating">
                </div>
                <div class="form-group p-2">
                    <input type="text" class="form-control" placeholder="مدت زمان" name="duration">
                </div>
                <div class="form-group p-2">
                    <input type="text" class="form-control" placeholder="دسته بندی" name="listed_in">
                </div>
                <div class="form-group p-2">
                  <input type="text" class="form-control" placeholder="توضیحات" name="description">
              </div>
            </div>
              <button type="submit" class="btn btn-primary p-2">جستجو</button>
          </form>
        </div>
        
        <div class="row bg-dark">
            <p>vssvsvsdvsdv</p>
        </div>
      </div>
    </div>
</body>
</html>
